<ul>
  <li><a href="admin_dashboard">Categories</a></li>
  <li><a href="admin_dashboard/add_book">Add Book</a></li>
  <li><a href="admin_dashboard/manage_book">Manage Book</a></li>
  <li><a href="admin_dashboard/borrowers">Borrowers</a></li>
</ul>
